body {
    background-color: black;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.moveIcon{
    height: 50px;
}
.moveButton{
    background-color: transparent;
    cursor: pointer;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
}
.moveReset{
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
}
.result{
    font-size: 25px;
    margin-top: 50px;
}
.score{
    margin-top: 50px;
}
